# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Logs
logs/

# Database
*.db

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# ChromaDB
chroma/
voice.wav
